@model IEnumerable<LoginApp.U3SourceRole>

@{
    ViewBag.Title = "List";
}

<h2>Alle Einträge </h2>

<p>
    @Html.ActionLink("Neue Eintrag hinzufügen", "AddOrEdit", "SourceRoleU3")
</p>

<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Suchen..." value="@ViewData["Getdetais"]" name="searchString" style="width:500px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a href="~/SourceRoleU3/Index">Get All Info </a>
    </p>

</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Source_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.En_Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.De_Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Source_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.En_Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.De_Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
        </tr>
    }

</table>
