@model IEnumerable<Hochtief.Models.MainAdditionalWorks>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rowid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eventCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pds01)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pds02)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.additionalWorksPds04)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.additionalWorksPds05)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.additionalWorksPds06)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.additionalWorksActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eventHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.additionalWorksTxt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rowid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pds01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pds02)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.additionalWorksPds04)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.additionalWorksPds05)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.additionalWorksPds06)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.additionalWorksActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.additionalWorksTxt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.id  })
            </td>
        </tr>
}
    </tbody>
</table>
