@model LoginApp.MDBSourceEquipment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MDBSourceEquipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SourceEquipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceEquipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.En_Equipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.En_Equipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.De_Equipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.De_Equipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeCompany)
        </dd>

        

    </dl>

    @using (Html.BeginForm("Delete" , "SourceEquipmentMBDAdmin" , FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
