@model IEnumerable<Hochtief.Models.MainActivity>

@{
    ViewData["Title"] = "Index";
}

    <h1>Alle Einträge</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rowid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.formversion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pds01)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pds02)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pds03)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pds04)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pds05)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pds06)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activitytype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activitytypedetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kolonnenae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contractor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hours_activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activity_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activityInternExtern)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rowid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.formversion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pds01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pds02)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pds03)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pds04)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pds05)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pds06)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activitytype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activitytypedetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kolonnenae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contractor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hours_activity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activity_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activityInternExtern)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.id  })
            </td>
        </tr>
}
    </tbody>
</table>
