@model Hochtief.Models.Pds

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pds</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocL1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocL1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocL2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocL2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocL3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocL3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pdsL1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pdsL1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pdsL2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pdsL2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pdsL3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pdsL3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pdsL4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pdsL4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pdsL5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pdsL5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Master)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Master)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-outline-info">Edit</a>
</div>
