@model Hochtief.Models.ScheduleWoSubTask

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ScheduleWoSubTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocL1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocL1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocL2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocL2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocL3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocL3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pdsL1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pdsL1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pdsL2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pdsL2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pdsL3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pdsL3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pdsL4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pdsL4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Master)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Master)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pdsDescr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pdsDescr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bautagesbericht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bautagesbericht)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
    </form>
</div>
