@model IEnumerable<Hochtief.Models.SourceCompany>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.En_company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.De_firma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pds01)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.En_company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.De_firma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pds01)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.id  }) |
                @Html.ActionLink("Details", "Details", new { id=item.id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.id  })
            </td>
        </tr>
}
    </tbody>
</table>
