@model Hochtief.Models.MainGeneral

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MainGeneral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rowid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rowid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.formversion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.formversion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taskname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taskname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bautagebuchAutoPolier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bautagebuchAutoPolier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reportID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reportID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportBreakTimeNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportBreakTimeNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreigabeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreigabeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreigabeAutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreigabeAutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreigabeDate1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreigabeDate1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genehmigungAutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genehmigungAutor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-outline-info">Edit</a>
</div>
