@model IEnumerable<Hochtief.Models.MainGeneral>

@{
    ViewData["Title"] = "Index";
}

    <h1>Alle Einträge</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rowid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.formversion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.taskname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bautagebuchAutoPolier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reportID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportBreakTimeNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreigabeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreigabeAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreigabeDate1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genehmigungAutor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rowid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.formversion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taskname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bautagebuchAutoPolier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reportID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportBreakTimeNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreigabeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreigabeAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreigabeDate1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genehmigungAutor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
