<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hochtief-AG Mangement</title>
    
    <style>
        .auslogen{
            margin-left:100px;
            border:3px 2px dotted red;
        }
        .li::before{
            content: "** ";
            color:blue; 
        }
    </style>
</head>
<body>
    <nav>
        <il class="li">@Html.ActionLink("Weather", "AddOrEdit", "Weather")</il>
        <br />
        <il class="li">@Html.ActionLink("SourceCompany", "AddOrEdit", "SourceCompany")</il>
        <br />
        <il class="li">@Html.ActionLink("SourceRole", "AddOrEdit", "SourceRole")</il>
        <br />
        <il class="li">@Html.ActionLink("SourceEquipment", "AddOrEdit", "SourceEquipment")</il>
        <br />
        <il class="li">@Html.ActionLink("Labour", "AddOrEdit", "Labour")</il>
        <br />
    </nav>
    <div class="container">
    </div>
</body>
</html>
