@model Hochtief.Models.MainField2BIM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MainField2BIM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.formversion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.formversion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.starttime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.starttime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.completetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.completetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userfirstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userfirstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userlastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userlastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.projectDef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.projectDef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.headerPds01)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.headerPds01)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.headerPds02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.headerPds02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.headerPds03)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.headerPds03)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.headerPds04)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.headerPds04)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reportID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reportID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportBreakTimeNumeric)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportBreakTimeNumeric)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeRang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeRang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pds01)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pds01)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pds01Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pds01Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApiKey)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-outline-info">Edit</a>
</div>
