@model IEnumerable<Hochtief.Models.MainField2BIM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.formversion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.starttime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.completetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userfirstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userlastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectDef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.headerPds01)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.headerPds02)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.headerPds03)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.headerPds04)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reportID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportBreakTimeNumeric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeRang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pds01)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pds01Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApiKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.formversion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.starttime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.completetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userfirstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userlastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectDef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.headerPds01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.headerPds02)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.headerPds03)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.headerPds04)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reportID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportBreakTimeNumeric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeRang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pds01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pds01Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApiKey)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.id  })
            </td>
        </tr>
}
    </tbody>
</table>
